<div class="form-container">
  <h3>Add New Product</h3>
  <form #product="ngForm" (ngSubmit)="postData(product.value)">
    <div class="form-group">
      <label for="name">Product Name</label>
      <input type="text" id="name" placeholder="Enter product name" name="name" ngModel required>
    </div>

    <div class="form-group">
      <label for="avatar">Product Image URL</label>
      <input type="text" id="avatar" placeholder="Enter image URL" name="avatar" ngModel required>
    </div>

    <div class="form-group">
      <label for="categoryId">Category</label>
      <select id="categoryId" name="categoryId" ngModel required>
        <option value="" disabled selected>Select a Category</option>
        <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
      </select>
    </div>

    <div class="form-group">
      <button type="submit">Add Product</button>
    </div>
  </form>
</div>
