<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form #update="ngForm" (ngSubmit)="updateCategory(update.value)">
        <div class="form-group">
          <label for="exampleInputEmail1">name</label>
          <input type="text" class="form-control" placeholder="name" [(ngModel)]="categoryContainer.name" name="name" ngModel>
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">image</label>
          <input type="text" class="form-control" placeholder="image" [(ngModel)]="categoryContainer.img" name="img" ngModel>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
