<nav class="glass-sidebar">
  <div class="sidebar-content">
    
    <ul class="sidebar-menu">
      <li><a routerLink="/admin/showCategory" routerLinkActive="active">Show Category</a></li>
      <li><a routerLink="/admin/showProduct" routerLinkActive="active">Show Product</a></li>
      <li><a routerLink="/admin/addcategory" routerLinkActive="active">Add Category</a></li>
      <li><a routerLink="/admin/addproduct" routerLinkActive="active">Add Product</a></li>
    </ul>
  </div>
</nav>

<div class="content">
  <router-outlet></router-outlet>
</div>
